/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

#search-form {
  width: 371px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 36px 534px 32px 534px;
}

input {
  width: 272px;
  margin-right: 8px;
  border-radius: 4px;
  background: #f0e68c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

form#search-form {
}

input:hover {
  border-color: #463011;
}

#search-form button[type='submit'] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4169e1;
}

.load-more {
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #6b8e23;
  display: flex;
  margin: 0 auto;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-top: 30px;
}

.hidden {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 360px;
  height: 200px;
}

.gallery {
  list-style: none;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0px auto;
  padding-left: 156px;
  padding-bottom: 32px;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  width: 360px;
  height: 48px;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  background: #fff;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: #2e2f42;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.48px;
  display: flex;
  flex-basis: min-content;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
user agent stylesheet p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.gallery-item {
}

.gallery-link {
}

.gallery-image {
  width: 360px;
  height: 200px;
}
